.content-wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.home-page-picture-team {
    width: 60rem;
    align-self: center;
    padding-top: 0.5rem;
}

.home-page-picture-description {
    color: #67676c;
}

.home-page-p {
    text-align: left;
}

.home-page-title {
    font-size: 1.75rem;
    margin: auto 0;
}

.home-page-picture-container {
    align-self: center;
    text-align: center;
}

.home-page-picture-meme {
    height: 40rem;
    align-self: center;
    padding-top: 0.5rem;
}

.ending {
    align-self: center;
    font-size: 1.5rem;
}