@use "@styles/variables" as *;
@use "@styles/common.scss" as *;

.home-page-picture-team {
	width: 60rem;
	align-self: center;
	padding-top: 0.5rem;
}

.home-page-picture-description {
	@extend .text-muted;
}

.home-page-p {
	text-align: left;
}

.home-page-title {
	font-size: 1.75rem;
	margin: auto 0;
}

.home-page-picture-container {
	@extend .centered-content;
}

.home-page-picture-meme {
	height: 40rem;
	align-self: center;
	padding-top: 0.5rem;
}

.ending {
	align-self: center;
	font-size: 1.5rem;
}
