.finches-page {
	padding-bottom: 4rem;
}

.finches-page__header {
	max-width: 52rem;

	.title {
		margin-bottom: 1rem;
	}

	p {
		line-height: 1.5;
	}
}

html.is-mobile .finches-page {
	padding-bottom: 3rem;
}
