@use "@styles/variables" as *;
@use "@styles/common.scss" as *;

.article-content-wrapper {
	padding: 2rem;
	display: flex;
	align-items: flex-start;
	width: 80%;
	margin: auto;
}

.article-content {
	padding-right: 2rem;
	width: 70%;
}

.picture-container {
	display: inline-block;
	align-items: center;
	@extend .text-muted;
	font-size: 0.92rem;
}

.main-picture {
	width: 100%;
	padding-bottom: 1rem;
}

.table-of-contents {
	position: sticky;
	top: 2rem;
	padding: 1rem;
	border-left: 1px solid $border-light-gray;
	margin-left: 2rem;
	font-size: 0.9rem;
}

.table-of-contents ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.table-of-contents li {
	margin-bottom: 0.5rem;
}

.table-of-contents a {
	@extend .link-default;
}

.source-link {
	margin-left: 0.25rem;
	@extend .link-default;
}

.picture {
	display: block;
	padding-bottom: 1rem;
}

.picture-description {
	text-align: center;
	max-width: 100%;
	word-wrap: break-word;
}

.set-of-pictures-container {
	display: flex;
	flex-direction: row;
}
