@use "@styles/variables" as *;
@use "@styles/common.scss" as *;

.card {
	border: 1px solid $text-muted;
	height: 15rem;
	display: flex;
	flex-direction: row;
	margin: auto 0;

	margin-bottom: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;

	&-group {
		width: 90%;
		margin: 0 auto;
	}
}

.card-body {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;

	width: 70%;
	border-left: 1px solid $shadow-medium;
}

.card-img {
	width: 30%;
	height: 100%;
	object-fit: cover;
	flex-shrink: 0;
	box-shadow: -4px 0px 20px 1px $shadow-light;
}

.card-title {
	font-weight: 700;
	font-size: large;
	padding: 1rem;
}

.card-description {
	padding: 1rem;
}

.card-date {
	font-size: smaller;
	@extend .text-muted;
	right: 1rem;
	bottom: 1rem;
	position: absolute;
}

.card-link {
	text-decoration: none;
	color: inherit;
}
