.content-wrapper {
    padding: 2rem;
}

.page-title {
    font-size: 1.75rem;
    margin: auto 0;
    padding-bottom: 2rem;
}

.card {
    border: 1px solid #67676c;
    height: 15rem;
    display: flex;
    flex-direction: row;
    margin: auto 0;

    margin-bottom: 1rem;
    border-radius: 0.75rem;
    overflow: hidden;

    &-group {
        width: 90%;
        margin: 0 auto;
    }
}

.card-body {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;

    width: 70%;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.card-img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    box-shadow: -4px 0px 20px 1px rgba(0, 0, 0, 0.125);
}

.card-title {
    font-weight: 700;
    font-size: large;
    padding: 1rem;
}

.card-description {
    padding: 1rem;
}

.card-date {
    font-size: smaller;
    color: #67676c;
    right: 1rem;
    bottom: 1rem;
    position: absolute;
}

.card-link {
    text-decoration: none;
    color: inherit;
}