html {
	height: 100vh;
}

html,
body,
#root,
.main {
	overflow: hidden !important;
	height: 100% !important;
}

body {
	margin: 0;
	font-family:
		Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	display: flex;

	#root {
		width: 100%;
	}
}

.main {
	width: 100%;

	.content {
		flex-grow: 1;
		height: 100%;
		overflow: auto;
	}
}
