// Импорт готового CSS файла Bulma
@import "bulma/css/bulma.css";

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family:
		Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
}

