@use "@styles/variables" as *;

.klopik-container {
	position: absolute;
	z-index: 0;

	right: 0;
	bottom: -2.75rem;

	text-align: center;
	cursor: pointer;

	transition: transform $transition-very-fast;

	img {
		height: auto;
		width: 10rem;
	}
}
