@use "@styles/variables" as *;
@use "@styles/common.scss" as *;

.sidebar {
	width: 15rem;
	border-right: 1px solid $border-light;
	background-color: $background-beige;
	height: 100%;
	padding: 1rem;
	flex-shrink: 0;

	&-wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.main-logo-container {
		display: flex;
		justify-content: center;
	}

	&-logo {
		width: 10rem;
		display: flex;
		flex-direction: column;
		border: 1px solid $border-gray;
		border-radius: 50%;
	}

	&-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-top: 0.35rem;

		&-hr {
			color: $primary-brown;
			width: 10rem;
			margin: 2rem auto;
		}

		&-title {
			color: $primary-brown;
			font-size: 1.5rem;
			font-weight: 400;
			text-decoration: none;
			padding: 0.25rem 0;

			&:hover {
				text-decoration: underline;
				color: $link-color;
			}
		}

		&-description {
			@extend .text-muted;
		}
	}

	&-body {
		flex-grow: 1;
	}

	&-footer {
		margin-bottom: 2rem;

		display: flex;
		flex-direction: row;
		@extend .text-muted;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		font-size: 0.9rem;
	}

	&-link {
		@extend .link-primary;
		text-decoration: none;
		padding: 0.25rem 0;

		&-group-text {
			text-decoration: none;
			display: flex;
			flex-direction: column;
			font-weight: bold;
			@extend .link-primary;
			padding: 0.25rem 0;
		}

		&-list {
			display: flex;
			flex-direction: column;
		}
	}

	&-item {
		display: flex;
		align-items: center;
		padding: 0.25rem 0;
		position: relative;
	}

	&-links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-bottom: 1rem;

		.link-icon {
			display: flex;
			height: 2rem;

			img,
			svg * {
				filter: grayscale(1);
				transition: $transition-fast;
			}

			&:hover img,
			&:hover svg * {
				filter: grayscale(0);

				&.icon-core {
					fill: white !important;
				}
			}
		}
	}
}

.sidebar-item .finch-hidden-icon {
	width: 30px;
	margin-right: 8px;
	opacity: 0;
	vertical-align: middle;
}

.sidebar-item:hover .finch-hidden-icon {
	opacity: 1;
	transition: $transition-fast;
}

.sidebar-gh-icon {
	font-size: 1.2rem;
	@extend .text-muted;
	transition: $transition-fast;

	&:hover {
		color: #000000;
	}
}
